body {
  background-image: url("your-third.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
  height: auto;
  width: auto;
  margin: 0;
  padding: 20px;
  border-radius: 40px;
}

h2 {
  font-size: 40px;
  text-align: center; 
  margin-bottom: 20px;
  -webkit-text-fill-color: aliceblue;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="checkbox"] {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #28a745;
}

.addThings {
  background-color: #28a745;
  font-size: large;
}
.removeThings {
  background-color: #dc3545;
  font-size: small;
}

button[type="submit"],
button[type="button"] {
  margin-top: 10px;
}

button[type="submit"] {
  width: 350px;
  height: 50px;
  font-size: 26px;
}

h3 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.eventPart {
  background-color: rgba(255, 228, 196, 0.641);
  padding: 5px;
  border-radius: 15px;
}

.guestsPart {
  background-color: rgba(197, 255, 196, 0.6);
  padding: 5px;
  border-radius: 15px;
}

.costsPart {
  background-color: rgba(196, 255, 255, 0.614);
  padding: 5px;
  border-radius: 15px;
}