body {
  margin: 0;
  background-image: url("forth.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
  font-family: Arial, sans-serif;
  height: auto;
  width: auto;
  display: vertical;
  align-items: center;
  justify-content: left;
  padding: 20px;
  border-radius: 40px;
}

.secondWohlpage {
  background-color: rgba(11, 4, 22, 0.664);
  max-width: 2000px;
  padding: 10px;
  border-radius: 10px;
  color: aliceblue;
  text-align: center;
}

h2 {
  margin-top: 0;
  font-size: 36px;
  color: aliceblue;
  text-decoration: aliceblue;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
}

h3 {
  margin-top: 10px;
  color: aliceblue;
  font-size: 26px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: flex;
  align-items: center;
  text-align: left;
  min-height: 170px;
}

li {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 5px;
  width: auto;
}

li:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.2);
}

a {
  text-decoration: none;
  color: #ccc;
}

a:hover {
  color: #fff;
}

p {
  margin: 2px 4px;
}

.no-events {
  color: #ccc;
  margin-top: 10px;
}

.new-event-button {
  margin: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
}

.new-event-button:hover {
  background-color: #666;
}
#ersterTeil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #2b2929;
  padding: 10px;
  border-radius: 15px;
}
#GastTeil {
  background-color: #2e412fe9;
  padding: 5px;
  border-radius: 5px;
}
#KostenTeil {
  background-color: #070616e6;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
.scrollable-container {
  max-height: 200px;
  max-width: 400px;
  min-width: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.delete-event-button {
  margin: 5px;
  background-color: #4c0c0c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
}